# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Build / packaging
# =========================
*.egg-info/
build/
dist/

# =========================
# Logs
# =========================
logs/
**/logs/

*.log

# =========================
# Data folders
# =========================
data/backup/
data/output/
data/temp/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment / IDE
# =========================
.env
.venv/
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
# =========================
# Divers
# =========================
arborescence.txt